<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lora:400,600" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <title>NYT Article Search</title>
  </head>
  <body>
    {{{ body }}}
  </body>
</html>
