<main id="app"></main>
<footer class="page-footer light-blue lighten-1" style="padding-top: 0;")>
  <div class="footer-copyright">
    <div class="container">
      <div class="right">
        Made by <a class="grey-text text-lighten-2" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </div>
</footer>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<script src="bundle.js"></script>
