body {
	background: url(/assets/img/fba7da61.png);
	font-family: 'Lora', serif;
	font-size: 150%;
}

body, h1, h2 {
	font-weight: 600;
}

select {
	border-radius: 4px; 
	border: 1px solid #AAA;
}

.jumbotron {
	background-color: white;
}

.list-group-item {
	padding: 5px;
}

.form-control {
	font-size: 100%;
}

#done {
	color: lightgrey;
}

/* Custom classes */
.min-height-200 {
	min-height: 200px;
}

.min-height-400 {
	min-height: 400px;
}