body {
	background: url(/assets/img/fba7da61.png);
	font-family: 'Lora', serif;
	font-size: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
}

/* Custom classes */
.pad-top-bot-sm {
	padding: 6px 0;
}

.pad-top-bot-med {
	padding: 10px 0;
}

.no-margin-bot {
	margin-bottom: 0;
}